.navbar{
    background-color: #333;
    color: white;
    margin-top: 20px;
    margin-bottom: 30px;
    padding-top: 25px;
    padding-bottom: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr 5fr;
    justify-content: center;
    align-items: center;
    ul{
        justify-self: center;
        justify-content: space-around;
        width: 100%;
    }
    img{
        width: 15vw;
        max-width: 175px;
        min-width: 75px;
        padding-left: 10px;
    }
    
}
ul{
    grid-column: 3/-1;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 3vw;
}

ul > li > a{
    text-decoration: none;
    color: white;
}
.LienImportant{
    background-color: white;
    color: rgb(230, 3, 00);
    font-style: bold;
    border-radius: 8px;
    padding: 5px;
}