@import url("nav.css");
@import url("produit.css");
@import url("panier.css");
@import url("anim.css");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
}

.generation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow-y: auto;
  height: 450px;
  border: 2px solid black;
  width: 85vw;
}

.pokemon-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  margin: 2%;
  padding: 10px;
  width: 200px;
  height: 35%;
  text-align: center;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}
.pokemon-card:hover {
  background-color: #eee;
}
.pokemon-card:active {
  background-color: #ddd;
}
.pokemon-image {
  max-width: 100px;
  max-height: 100px;
}
.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
#recherche {
  width: 60vw;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 550px) {
  h3 {
    font-size: 0.85em;
  }
}

button {
  background-color: #777;
  color: white;
  border-radius: 15px;
  padding: 10px;
  border: 2px solid black;
  cursor: pointer;
}
button:hover {
  background-color: #666;
}
button:active{
  background-color: #555;
}
